@font-face {
  font-family: 'Uni Neue';
  src: url('../fonts/UniNeueRegular.eot');
  src: url('../fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UniNeueRegular.woff') format('woff'),
    url('../fonts/UniNeueRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../fonts/UniNeueBold.eot');
  src: url('../fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UniNeueBold.woff') format('woff'),
    url('../fonts/UniNeueBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
