@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';

.panel {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #131515;
  color: #fff;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 40px;
  &__burger-title {
    display: none;
  }
  &__burger {
    display: none;
  }
  &__head {
    width: 100%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__padding {
    width: 100%;
    padding: 40px;
    border-bottom: 1px solid #292b2b;
  }
  &__logo {
    width: 100%;
    span {
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #fff;
    }
  }
  &__balance {
    &-btn {
      box-shadow: 0px 4px 0px #3c7772, 0px 15px 80px rgba(193, 242, 238, 0.2),
        inset 0px 8px 26px rgba(255, 255, 255, 0.25);
      border-radius: 5px;
      padding: 20px 10px;
      min-width: 220px;
      text-align: center;
      text-transform: uppercase;
    }
    &-title {
      span {
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 10px;
        display: block;
        color: #889993;
      }
      b {
        font-weight: 500;
        display: block;
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
    }
  }
  &__main-menu {
    width: 100%;
  }
  &__menu {
    &-ln {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 40px;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.5s;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      &:hover {
        color: #489d96;
      }
    }
  }
  &__bottom {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-ln {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      cursor: pointer;
      margin-bottom: 30px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      &:hover {
        color: #489d96;
      }
      img {
        margin-right: 20px;
      }
      span {
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}
.main {
  min-height: 100vh;
  background: #d8e1de;
  &__inner {
    min-height: 100vh;
    padding-left: 300px;
  }
}
.square {
  &__container {
    padding: 50px;
    width: 100%;
  }
  &__header {
    padding-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid #b8cbc5;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &-left {
      justify-content: space-between;
      display: flex;
    }
    &-right {
      justify-content: space-between;
      display: flex;
    }
    &-name {
      margin-right: 80px;
      span {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 10px;
      }
      p {
        font-size: 32px;
        line-height: 140%;
      }
    }
    &-yours {
      span {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 10px;
      }
      p {
        font-size: 32px;
        line-height: 140%;
      }
    }
    &-links {
      margin-right: 60px;
      a {
        display: block;
        font-size: 18px;
        line-height: 140%;
        padding-bottom: 1px;
        text-decoration-line: underline;
        margin-bottom: 10px;
        color: $main;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
    &-btn {
      max-width: 310px;
      &-desc {
        display: block;
      }
      &-mobil {
        display: none;
      }
    }
  }
  &__body {
    width: 100%;
  }
  &__title {
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 45px;
    b {
      margin-left: 30px;
      font-size: 52px;
      line-height: 140%;
    }
  }
  &__select {
    padding: 40px;
    width: 100%;
    // min-height: 480px;
    background: #cad4d0;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: right 123% top 50%;
    &-inner {
      max-width: 210px;
    }
    &-title {
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 30px;
    }
    &-item {
      span {
        font-size: 16px;
        color: #889993;
        margin-bottom: 10px;
        line-height: 140%;
      }
      p {
        font-size: 24px;
        color: #3e4652;
        line-height: 140%;
      }
      margin-bottom: 20px;
    }
    &-btn {
      margin-top: 20px;
      text-align: center;
      padding: 20px;
      max-width: 190px;
    }
  }
}

@import 'media';
