@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';

.panel {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #131515;
  color: #fff;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 40px;
  &__ln {
    &-title {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 10px;
      color: #889993;
    }
    &-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background: #f4faf8;
      border-radius: 5px;
      width: 100%;
      height: 60px;
      max-width: 240px;
    }
    &-text {
      color: #889993;
      font-size: 16px;
      line-height: 140%;
      max-width: 140px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &-copy {
      width: 40px;
      height: 40px;
      padding: 12px;
      margin-left: 30px;
      background: radial-gradient(
        100% 100% at 50% 0%,
        #7dd2cb 0%,
        #489d96 100%,
        #489d96 100%
      );
      box-shadow: 0px 1px 0px #3c7772, 0px 15px 80px rgba(193, 242, 238, 0.2),
        inset 0px 8px 26px rgba(255, 255, 255, 0.25);
      border-radius: 5px;
      cursor: pointer;
      img {
      }
    }
  }
  &__burger-title {
    display: none;
  }
  &__burger {
    display: none;
  }
  &__head {
    width: 100%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__padding {
    width: 100%;
    padding: 30px;
    border-bottom: 1px solid #292b2b;
  }
  &__logo {
    width: 100%;
    span {
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #fff;
    }
  }
  &__balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-btn {
      box-shadow: 0px 4px 0px #3c7772, 0px 15px 80px rgba(193, 242, 238, 0.2),
        inset 0px 8px 26px rgba(255, 255, 255, 0.25);
      border-radius: 5px;
      // padding: 20px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;
      width: 60px;
      height: 60px;
      font-weight: bold;
      font-size: 24px;
    }
    &-title {
      margin-right: 16px;
      span {
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 10px;
        display: block;
        color: #889993;
      }
      b {
        font-weight: 500;
        display: block;
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 0px;
        text-transform: uppercase;
      }
    }
  }
  &__main-menu {
    width: 100%;
  }
  &__menu {
    &-ln {
      display: block;
      color: rgb(255, 255, 255);
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 40px;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.5s;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      &:hover {
        color: #489d96;
      }
    }
  }
  &__bottom {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-ln {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      cursor: pointer;
      margin-bottom: 30px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      &:hover {
        color: #489d96;
      }
      img {
        margin-right: 20px;
      }
      span {
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}
.main {
  min-height: 100vh;
  background-color: #d8e1de;
  &__inner {
    min-height: 100vh;
    padding-left: 300px;
  }
}
.square {
  &__container {
    padding: 50px;
    width: 100%;
  }
  &__header {
    padding-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid #b8cbc5;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &-left {
      justify-content: space-between;
      display: flex;
    }
    &-right {
      justify-content: space-between;
      display: flex;
    }
    &-name {
      margin-right: 80px;
      span {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 10px;
      }
      p {
        font-size: 32px;
        line-height: 140%;
      }
    }
    &-yours {
      span {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 10px;
      }
      p {
        font-size: 32px;
        line-height: 140%;
      }
    }
    &-links {
      margin-right: 60px;
      a {
        display: block;
        font-size: 18px;
        line-height: 140%;
        padding-bottom: 1px;
        text-decoration-line: underline;
        margin-bottom: 10px;
        color: $main;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
    &-btn {
      max-width: 310px;
      &-desc {
        display: block;
      }
      &-mobil {
        display: none;
      }
    }
  }
  &__body {
    width: 100%;
  }
  &__title {
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 45px;
    b {
      margin-left: 30px;
      font-size: 52px;
      line-height: 140%;
    }
  }
  &__select {
    padding: 40px;
    width: 100%;
    // min-height: 480px;
    background: #cad4d0;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: right 123% top 50%;
    &-inner {
      max-width: 210px;
    }
    &-title {
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 30px;
    }
    &-item {
      span {
        font-size: 16px;
        color: #889993;
        margin-bottom: 10px;
        line-height: 140%;
      }
      p {
        font-size: 24px;
        color: #3e4652;
        line-height: 140%;
      }
      margin-bottom: 20px;
    }
    &-btn {
      margin-top: 20px;
      text-align: center;
      padding: 20px;
      max-width: 190px;
    }
  }
}
.squareN {
  &__main {
    display: flex;
    justify-content: center;
  }
  &__left {
    margin-right: 60px;
    min-width: 300px;
  }
  &__calc {
    margin-bottom: 30px;
    &-title {
      color: #889993;
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 10px;
    }
    &-calc {
      display: flex;
      align-items: center;
      input {
        text-align: center;
        background: #f4faf8;
        border-radius: 5px;
        border: none;
        height: 60px;
        max-width: 160px;
        width: 100%;
        margin: 0 10px;
      }
    }
    &-inner {
    }
    &-btn {
      font-weight: bold;
      cursor: pointer;
      font-size: 24px;
      line-height: 140%;
      min-width: 60px;
      min-height: 60px;
      display: flex;
      color: #fff;
      align-items: center;
      justify-content: center;
      background: radial-gradient(
        100% 100% at 50% 0%,
        #7dd2cb 0%,
        #489d96 100%,
        #489d96 100%
      );
      box-shadow: 0px 1px 0px #3c7772, 0px 15px 80px rgba(193, 242, 238, 0.2),
        inset 0px 8px 26px rgba(255, 255, 255, 0.25);
      border-radius: 5px;
    }
  }
  &__title {
    margin-bottom: 30px;

    span {
      display: block;
      font-size: 23px;
      line-height: 140%;
    }
    b {
      font-size: 40px;
      line-height: 140%;
    }
  }
  &__btn {
    text-align: center;
  }
  &__right {
    width: 100%;
    &-img {
      width: 100%;
      background: #cad4d0;
      border-radius: 10px;
      height: 640px;
      background-image: url(../img/pages/first/mapDesc.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &-titlePl {
      display: none;
    }
  }
  &__main {
  }
}

.wallet {
  &__item-hidden {
    color: #889993;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 5px;
    display: none;
  }
  &__container {
    padding: 50px;
    width: 100%;
  }
  &__top {
    padding-bottom: 40px;
    border-bottom: 1px solid #b8cbc5;
  }
  &__texts {
    display: flex;
    margin-bottom: 20px;
  }
  &__title {
    p {
      font-size: 24px;
      line-height: 140%;
    }
    b {
      font-weight: bold;
      font-size: 48px;
      line-height: 140%;
    }
    &:nth-child(1) {
      margin-right: 50px;
    }
  }
  &__btns {
    display: flex;
  }
  &__add {
    &-inner {
      display: flex;
    }
  }
  &__btn {
    padding: 20px 30px;
    margin-right: 10px;
    height: 60px;
    // &:nth-last-child(1) {
    //   margin-right: 0;
    // }
    &-add {
    }
    &-out {
      min-width: 132px;
      text-align: center;
    }
    &-transfer {
      margin-right: 0;
    }
  }
  &__bottom {
    padding-top: 50px;
  }
  &__about {
    padding: 15px 20px;
    background: #c9d9d4;
    border-radius: 8px;
    display: flex;
    margin-bottom: 5px;
    &-item {
      font-size: 14px;
      line-height: 140%;
      &-1 {
        width: 15%;
      }
      &-2 {
        width: 15%;
      }
      &-3 {
        width: 20%;
      }
      &-4 {
      }
    }
  }
  &__items {
  }
  &__item {
    padding: 15px 20px;
    background: #c9d9d4;
    border-radius: 8px;
    display: flex;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 5px;
    transition: 0.3s;
    &:hover {
      background: #b8cbc5;
    }
    &-num {
      width: 15%;
    }
    &-date {
      width: 15%;
    }
    &-amount {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 20%;
      span {
        color: #ec3434;
      }
      p {
        color: #489d96;
      }
    }
    &-about {
    }
  }
}

.iAuction {
  &__container {
    width: 100%;
  }
  &__top {
    margin-bottom: 21px;
  }
  &__title {
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 30px;
  }
  &__btns {
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-blue {
      text-transform: uppercase;
      cursor: pointer;
      background: $main;
      border: 1px solid #489d96;
      border-radius: 5px;
      margin-right: 10px;
      color: #fff;
      padding: 14px 29px;
      font-weight: bold;
      font-size: 16px;
      line-height: 140%;
    }
    &-wh {
      text-transform: uppercase;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      line-height: 140%;
      color: $main;
      border-radius: 5px;
      background-color: transparent;
      border: 1px solid #489d96;
      padding: 14px 29px;
    }
    &-btn {
    }
  }
  &__items {
  }
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background: #c9d9d4;
    border-radius: 8px;
    margin-bottom: 10px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
    &-fr {
      display: flex;
      align-items: center;
      // justify-content: center;
      width: 80%;
    }
    &-title {
      // max-width: 20%;
      margin-right: 10%;
      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #3e4652;
        display: block;
        font-size: 16px;
        line-height: 140%;
      }
    }
    &-prices {
      display: flex;
      max-width: 30%;
    }
    &-price {
      max-width: 59%;
      margin-right: 17%;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #889993;
        display: block;
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 10px;
      }
      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
      }
    }
    &-start {
    }
    &-now {
    }
    &-btn {
    }
  }
}

.lot {
  p,
  b {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
  }
  &__container {
  }
  &__top {
    padding-bottom: 40px;
    border-bottom: 1px solid #b8cbc5;
    &-lns {
      display: flex;
      align-items: center;
    }
    &-text {
      font-size: 18px;
      line-height: 150%;
      margin-right: 20px;
    }
    &-ln {
      color: $main;
      text-decoration: underline;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 65px;
  }
  &__middle {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    &-left {
      max-width: 16%;
      margin-right: 4%;
      &-prices {
      }
      &-item {
        margin-bottom: 20px;
        &-ls {
          margin: 0;
        }
        span {
          font-size: 16px;
          line-height: 140%;
          color: #3e4652;
          margin-bottom: 10px;
        }
        p {
          font-weight: bold;
          font-size: 18px;
          line-height: 150%;
          text-transform: uppercase;
        }
      }
    }
    &-mid {
      max-width: 48%;
      margin-right: 3%;
      &-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 20px;
      }
      &-body {
        padding: 30px;
        background: #c9d9d4;
        border-radius: 10px;
      }
      &-text {
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 28px;
      }
      &-items {
        display: flex;
      }
      &-item {
        margin-right: 30px;
        overflow: hidden;
        max-width: 50%;
        &:nth-last-child(1) {
          margin: 0;
        }
        span {
          font-size: 16px;
          line-height: 140%;
          color: #3e4652;
          margin-bottom: 10px;
        }
        p {
          font-weight: bold;
          font-size: 18px;
          line-height: 150%;
          text-transform: uppercase;
        }
      }
    }
    &-right {
      max-width: 28%;
      &-item {
        span {
          font-size: 16px;
          line-height: 140%;
          color: #3e4652;
          margin-bottom: 10px;
        }
        p {
          font-weight: bold;
          font-size: 18px;
          line-height: 150%;
          text-transform: uppercase;
        }
      }
    }
  }
  &__time {
    display: flex;
    padding-bottom: 40px;
    align-items: flex-end;
    &-left {
      max-width: 40.8%;
      width: 100%;
      margin-right: 40px;
      span {
        font-size: 16px;
        line-height: 140%;
        color: #3e4652;
        margin-bottom: 10px;
      }
      p {
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      input {
        width: 100%;
        background: #c9d9d4;
        border-radius: 50px;
      }
    }
    &-right {
      background: #c9d9d4;
      border-radius: 10px;
      padding: 20px;
      max-width: 54%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-item {
      margin-right: 30px;
      max-width: 30%;
      span {
        font-size: 16px;
        line-height: 140%;
        color: #3e4652;
        margin-bottom: 10px;
      }
      p {
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        text-transform: uppercase;
      }
    }
    &-btn {
    }
  }
  &__bottom {
    display: flex;
    align-items: flex-start;
    &-left {
      max-width: 53%;
      width: 100%;
      margin-right: 40px;
    }
    &-right {
      max-width: 43%;
      &-img {
        &-mob {
          display: none;
        }
        background: linear-gradient(
          175.12deg,
          #c9d9d4 50.11%,
          rgba(201, 217, 212, 0) 96.07%
        );
        border-radius: 8px;
        img {
          width: 100%;
        }
      }
    }
    &-about {
      background: #c9d9d4;
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      font-weight: 500;
      margin-bottom: 5px;
      padding: 15px 20px;
      p {
        // margin-right: 20px;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        &:nth-of-type(1) {
          width: 10%;
        }
        &:nth-of-type(2) {
          width: 25%;
        }
        &:nth-of-type(3) {
          width: 25%;
        }
        &:nth-of-type(4) {
        }
      }
    }
    &-items {
    }
    &-item {
      justify-content: space-between;
      display: flex;
      font-weight: bold;

      background: #c9d9d4;
      border-radius: 8px;
      margin-bottom: 5px;
      padding: 20px;
      &-date {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      span {
        display: none;
        color: #889993;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
      }
      div {
        width: 52%;
      }
      b {
        width: 50%;
        margin-right: 20px;
        font-size: 14px;
        line-height: 140%;
        &:nth-last-child(1) {
          margin-right: 0;
        }
        &:nth-of-type(1) {
          width: 50%;
        }
        &:nth-of-type(2) {
          width: 50%;
        }
      }
      p {
        font-weight: bold;
        margin-right: 20px;
        font-size: 14px;
        line-height: 140%;
        &:nth-of-type(1) {
          width: 10%;
        }
        &:nth-of-type(2) {
          text-transform: uppercase;
          width: 25%;
        }
        &:nth-of-type(3) {
          width: 25%;
        }
        &:nth-of-type(4) {
          width: 20%;
        }
      }
    }
  }
  &__container {
  }
}

.put {
  &__header {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    &-title {
      font-weight: 500;
      font-size: 48px;
      line-height: 65px;
      margin-bottom: 20px;
    }
    &-text {
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;
      max-width: 580px;
      margin-bottom: 40px;
    }
  }
  &__img {
    // background-color: #cad4d0;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    // height: 473px;
    margin-bottom: 40px;
    img {
      border-radius: 10px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    &-left {
      margin-right: 60px;
    }
    &-uptitle {
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 6px;
    }
    &-title {
      font-size: 40px;
      line-height: 140%;
    }
    &-text {
      color: #889993;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 140%;
    }
    &-right {
    }
    &-inputs {
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        background: #f4faf8;
        border-radius: 5px;
        padding: 20px;
        height: 64px;
        margin-right: 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 140%;
        color: #000;
        &::placeholder {
        }
      }
    }
    &-btn {
      height: 60px;
    }
  }
}

.events {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  option {
    border: none;
    border-radius: 10px;
  }
  &__top {
  }
  &__title {
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 30px;
  }
  &__selects {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
  }
  &__select {
    cursor: pointer;
    height: 64px;
    padding: 20px;
    padding-right: 55px;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    background: #f4faf8;
    border-radius: 5px;
    width: 100%;

    &-inn {
      position: relative;
      margin-right: 10px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      &::after {
        content: '';
        width: 12px;
        height: 7.5px;
        position: absolute;
        top: calc(50% - 3.75px);
        right: 24px;
        z-index: 5;
        background-image: url(../img/events/arr.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  &__main {
    background: #889993;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    width: 13.87%;
    // width: 12.68%;
    height: 113px;
    padding: 10px;
    margin: 2px;
    background: #98a7a2;
    border-radius: 5px;
    pointer-events: none;
    &-date {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-weight: bold;
      font-size: 16px;
      line-height: 150%;
      opacity: 0.5;
    }
    &.active {
      background: #d8e1de;
      pointer-events: all;
      .events__item-date {
        opacity: 1;
      }
    }
    &.text-active {
      z-index: 52;
      &::before {
        content: '';
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1.5px);
        z-index: 51;
      }
      // .events__item-bg {
      //   top: 0;
      //   left: 0;
      //   position: fixed;
      //   width: 100%;
      //   height: 100%;
      //   backdrop-filter: blur(1.5px);
      //   z-index: 51;
      // }
    }
    &-text {
      position: relative;

      &::before {
        cursor: pointer;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &.active {
        .events__item-info {
          display: block;
        }
      }

      span {
        border-radius: 5px;
        background: #efb358;
        cursor: pointer;
        height: 25px;
        width: 100%;
        margin-bottom: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        b {
          font-weight: 500;
          font-size: 12px;
          line-height: 150%;
          overflow: hidden;
          white-space: nowrap;
          padding: 0 10px;
          color: rgba($color: #1c221a, $alpha: 0.4);
        }
      }
    }
    &-info {
      position: absolute;
      display: none;
      top: 30px;
      right: 0;
      width: 260px;
      // min-height: 366px;
      background: #d8e1de;
      opacity: 0.95;
      box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 20px;
      z-index: 52;

      &-date {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
      }
      &-x {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        img {
        }
      }
      &-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 20px;
        max-width: 180px;
      }
      &-time {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &-item {
          &:nth-child(1) {
            margin-right: 30px;
          }
          span {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
          }
          b {
            font-weight: bold;
            font-size: 18px;
            line-height: 150%;
          }
        }
      }
      &-desc {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 5px;
      }
      &-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 44px;
        max-width: 630px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      &-btn {
        text-align: center;
      }
    }
  }
}

.popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color: #697b75, $alpha: 0.6);
  backdrop-filter: blur(1.5px);
  &__x {
    max-width: 10.5px;
    max-height: 10.5px;
    background-image: url(../img/popup/x.svg);
    background-size: contain;
    padding: 6px;
    margin: -10px;
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
    top: 29px;
    right: 29px;
    &:hover {
      opacity: 0.5;
    }
  }
  &.popup__active {
    opacity: 1;
    z-index: 120;
  }
  &__container {
    max-width: 340px;
    z-index: 100;
  }
  // &__x {
  //   cursor: pointer;
  //   position: absolute;
  //   top: 20px;
  //   right: 20px;
  //   padding: 10px;
  //   margin: -10px;
  //   transition: 0.5s;
  //   &:hover {
  //     opacity: 0.5;
  //   }
  // }
  &__inner {
    padding: 40px;
    position: relative;
    background-color: #fff;
    max-width: 420px;
    margin: 0 auto;
  }
  &__title {
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 10px;
  }
  &__subtitle {
    max-width: 262px;
    font-size: 14px;
    line-height: 140%;
    color: #889993;
    margin-bottom: 30px;
  }
  &__confirm {
    max-width: 270px;
    p {
      font-size: 14px;
      line-height: 140%;
    }
    a {
      color: $main;
      text-decoration: underline;
    }
  }
  select {
  }
  input,
  textarea,
  select {
    width: 100%;
    height: 60px;
    background: #f4faf8;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
  }
  textarea {
    height: 100px;
  }
  button {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
  }
}
.open_popup-reg {
  cursor: pointer;
}
.open_popup-ln {
  color: $main;
}

@import 'media';
